html {
    /* Change the app background */
    background-color: #3c3e42;
}

body *{
    /* text color */
    --text-color: white;
    color: var(--text-color);
}

.ThemeMobilePN {
    --theme-foncee: #d0615d; /*Main Color*/
    --theme-moyen1: #e86c68; /*Snd Color*/  /*Bandeau Only*/
    --theme-claire: #ff7472; /*Third Color*//*Bandeau Only*/
}

.sidenav.aside-nav-right {
    /* Side nav bar coloration */
    --nav-color: #232527;        /*Righ pannel*/
    --nav-panel-color: #1a1b1d;  /*Left Pannel*/
    background: linear-gradient(to right, var(--nav-color) 0, var(--nav-color) calc(100% - 70px), var(--nav-panel-color) calc(100% - 70px), var(--nav-panel-color) 100%);
}

.collection li.with-action {
    /* Buttons background */
    background-color: #1b1c1e;
}

#idPreloaderText {
    overflow:hidden;
    position:absolute;
    top:calc(50% + 64px + 5px);
    left:0;
    width:100%;
    text-align:center;
    color: var(--text-color);
}

#cssarea {
    border: none;
    background-color: #1b1c1e;
    font-size: .7em;
    font-weight: 100;
    margin-top: 3%;
    border-bottom: 1px solid #9c9e9f !important;
    height: 20%;
    transition: border-bottom 1s;

}
#cssarea:focus {
    border-bottom: 2px solid var(--theme-foncee) !important;
}

#cssset {
    margin-top: 5%;
    width: 100%;
    height: 4%;
    align-items: center;
    text-decoration: none;
    border: none;
    background-color: var(--theme-claire);
    transition: background-color 1s;
}

#cssset:focus {
    background-color: var(--theme-foncee);
}